<source>
  @type forward
  @id input1
  @label @mainstream
  port 24224
</source>

<filter **>
  @type stdout
</filter>

<label @mainstream>
  <match **>
    @type aws-elasticsearch-service
    logstash_format true
    <endpoint>
      url AWS_ELASTICSEARCH_URL
      region AWS_REGION
      #access_key_id "secret"
      #secret_access_key "very_secret"
    </endpoint>
  </match>
</label>
