<source>
  @type forward
  @id input1
  @label @mainstream
  port 24224
</source>

<filter **>
  @type stdout
</filter>

<label @mainstream>
  <match docker.**>
    @type copy
    <store>
      @type file
      @id output_docker1
      path /fluentd/log/docker.*.log
      symlink_path /fluentd/log/docker.log
      append true
      time_slice_format %Y%m%d
      time_slice_wait 1m
      time_format %Y%m%dT%H%M%S%z
      buffer_path /fluentd/log/docker.*.log
    </store>
    <store>
      @type aws-elasticsearch-service
      logstash_format true
      <endpoint>
        url AWS_ELASTICSEARCH_URL
        #url https://search-awslogs-dyx5fxsepfnqvryggdba7p2x2y.eu-west-1.es.amazonaws.com
        #access_key_id "secret"
        #secret_access_key "very_secret"
        region AWS_REGION
      </endpoint>
    </store>
  </match>
  <match **>
    @type copy
    <store>
      @type file
      @id output1
      path /fluentd/log/data.*.log
      symlink_path /fluentd/log/data.log
      append true
      time_slice_format %Y%m%d
      time_slice_wait 10m
      time_format %Y%m%dT%H%M%S%z
      buffer_path /fluentd/log/data.*.log
    </store>
    <store>
      @type aws-elasticsearch-service
      logstash_format true
      <endpoint>
        url AWS_ELASTICSEARCH_URL
        region AWS_REGION
        #access_key_id "secret"
        #secret_access_key "very_secret"
      </endpoint>
    </store>
  </match>
</label>

